.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tab-content{
  display: block;
}

.text-content {
  padding-left: 120px;
}

.text-content-about {
  padding-left: 15%;
  padding-top: 10px;
}

.text-content-education {
  padding-top: 10px;
  padding-left: 30%;
}

.badge-left {
  justify-content: left;
}

.badge-right {
  justify-content: right;
}
